<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hello Ionic</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3>Welcome to your first Ionic app!</h3>
  <button ion-button full (click)="getAll()">get All!</button>
  <button ion-button full (click)="getNotifs()">get notifs!</button>
  <button ion-button full (click)="getNotif()">get notif!</button>

  <ion-list>
    <ion-item *ngFor="let n of scheduled">
      <ion-label text-wrap>
        {{ n.id }} - {{ n.title}}
        <p>Trigger: {{n.trigger | json}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
